.drop-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #a3ddcb;
	border: 1px solid #03506f;
	color: #03506f;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	margin: 10px;
}

button {
	border-radius: 4px;
	background: #256ce1;
	padding: 10px 22px;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	text-decoration: none;

	/* &.hover {
		transition: all 0.2s ease-in-out;
		background: #fff;
		color: #01060;
	} */
}
